<form method="GET">
  <div style="display:flex;flex-direction:row;align-items:center;gap:10px;flex-wrap:wrap">
    <input hidden type="hidden" style="display:none;" name="admin" />
    <input hidden type="hidden" style="display:none;" name="page" value="{$page}" />
    <label style="flex:none">Start Date <input type="datetime-local" name="start" id="startFilter" value="{$start}" /></label>
    <label style="flex:none">End Date <input type="datetime-local" name="end" id="endFilter" value="{$end}" /></label>
    <button type="submit" style="flex:none;">Filter</button>
  </div>
  <div>
    <button type="button" onclick="autoFilter(event, 24)">Past 24 hours</button>
    <button type="button" onclick="autoFilter(event, 24 * 7)">Past 7 days</button>
    <button type="button" onclick="autoFilter(event, 24 * 30)">Past 30 days</button>
  </div>
</form>
<script>
function autoFilter(event, hours) {
  const time = Date.now() - (1000 * 60 * 60 * hours) - (new Date().getTimezoneOffset() * 60 * 1000);
  document.getElementById('startFilter').value = (new Date(time)).toISOString().slice(0, 16);
  document.getElementById('endFilter').value = '';
  event.target.closest('form').submit();
}
</script>