<header style="display:flex;flex-direction:row;align-items:center;gap:10px;border-bottom:1px solid #000;">
  <div>
    <a href="?admin">Home</a>
  </div>
  <div>
    <a href="?admin&page=settings">Settings</a>
  </div>
  <form action="{$logoutUri}" method="POST">
    <button>Log Out</button>
  </form>
</header>