html {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
html, button, input, textarea {
  font-size: 12pt;
  background: #fff;
  color: #000;
}
body {
  padding: 1rem 1.5rem 2rem;
}
:focus {
  outline: 2px solid #000;
}
* {
  box-sizing: border-box;
  position: relative;
  max-width: 100vw;
}
* + *, p {
  margin: .5rem 0;
}
label { display: block; }
input, textarea {
  padding: .5rem;
  border: 1px solid #000;
  border-radius: 3px;
}
h1 {
  font-weight: bold;
  margin: .5rem 0;
  font-size: 1.8rem;
}