<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <style>{{main.css}}</style>
</head>
<body>
{{header.html}}
<h1>TinyStats Overview</h1>
{$totals}
{{datetime-filter.html}}
{$breakdown}
</body>
</html>
