<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <style>{{main.css}}</style>
</head>
<body>
{{header.html}}
<h2>All Logs{$forDomain}</h2>
{{datetime-filter.html}}
<pre><code>{$logs}</code></pre>
<script>
const { protocol, host, pathname } = new URL(window.location.href);
const url = `\${protocol}//\${host}\${pathname}`;
document.getElementById('code').innerHTML = `&lt;script type="text/javascript" src="\${url}"&gt;&lt;\/script&gt;
&lt;script type="text/javascript"&gt;(new TinyStats()).report();&lt;\/script&gt;`;
</script>
</body>
</html>
