<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <style>{{main.css}}</style>
</head>
<body>
{{header.html}}
<h1>TinyStats Settings</h1>
<h2>Install Code</h2>
<pre><code id="code"></code></pre>
<h2>Change Settings</h2>
<form action="{$settingsUri}" method="POST">
  <label>Set New Password <input name="new_password" type="password"> (Leave blank to keep password)</label>
  <label>Allowed Domains <small>(one per line)</small><br />
    <textarea name="domains" placeholder="example.com
    example2.com" style="height:calc(12pt * 4);width:100%;max-width:400px;">{$allowedDomains}</textarea>
  </label>
  <label>Confirm Current Password* <input name="password" type="password" required></label>
  <button type="submit">Save</button>
</form>
<script>
const { protocol, host, pathname } = new URL(window.location.href);
const url = `\${protocol}//\${host}\${pathname}`;
document.getElementById('code').innerHTML = `&lt;script type="text/javascript" src="\${url}"&gt;&lt;\/script&gt;
&lt;script type="text/javascript"&gt;(new TinyStats()).report();&lt;\/script&gt;`;
</script>
</body>
</html>
